/* inter-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Inter-Thin.woff2') format('woff2'), url('/fonts/Inter-Thin.woff') format('woff');
}
/* inter-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Inter-ExtraLight.woff2') format('woff2'), url('/fonts/Inter-ExtraLight.woff') format('woff');
}
/* inter-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Inter-Light.woff2') format('woff2'), url('/fonts/Inter-Light.woff') format('woff');
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.woff2') format('woff2'), url('/fonts/Inter-Regular.woff') format('woff');
}
/*500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.woff2') format('woff2'), url('/fonts/Inter-Medium.woff') format('woff');
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2'), url('/fonts/Inter-SemiBold.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Inter-Bold.woff2') format('woff2'), url('/fonts/Inter-Bold.woff') format('woff');
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Inter-ExtraBold.woff2') format('woff2'), url('/fonts/Inter-ExtraBold.woff') format('woff');
}
/* inter-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Inter-Black.woff2') format('woff2'), url('/fonts/Inter-Black.woff') format('woff');
}

:root {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    color: var(--font-light);
    color-scheme: dark light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /* font-size: 20px; */

    background-image: radial-gradient(var(--accent-primary) 6.5%, var(--bg-primary) 6.5%);
    background-size: 24px 24px;
    background-position: center top;

    --bg-primary: hsl(251, 17%, 7%);
    --bg-secondary: hsl(251, 20%, 11.25%);
    --accent-primary: hsl(248, 66%, 45%);
    --accent-secondary: hsl(248, 66%, 30%);
    --btn-hover: hsl(248, 66%, 22.5%);
    --font-light: hsla(0, 0%, 93%, 0.933);
    --font-light-opaque: hsla(0, 0%, 75%, 0.65);

    /* TODO: up the font size to 20px */
    /* font-size: 20px; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img,
svg {
    display: block;
    width: 100%;
}

svg {
    fill: var(--font-light);
}

input,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    white-space: nowrap;
}
.btn {
    background-color: var(--accent-secondary);
    border: 2px solid;
    border-color: var(--accent-primary);
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--font-light);
}
.btn-hover:hover {
    background-color: var(--btn-hover);
}

.toast-slidein {
    animation: toast-slidein 300ms ease forwards;
}
@keyframes toast-slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-slideout {
    animation: toast-slideout 500ms ease-in-out forwards;
}
@keyframes toast-slideout {
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.swal2-bottom-end {
    overflow: visible !important;
}

body.swal2-shown > [aria-hidden='true'] {
    transition: filter 100ms;
    filter: blur(6px) brightness(0.5);
}

.swal2-input {
    max-width: 100% !important;
    margin-inline: 0 !important;
}

.swal2-html-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swal2-html-container .condition-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin: 1rem 0 0.5rem;
    width: fit-content;
    padding: 1rem;
    border-width: 4px;
}
.swal2-html-container .condition-wrapper > legend {
    padding-inline: 0.5rem;
}
.swal2-html-container .condition-wrapper > label {
    position: relative;
    cursor: pointer;
}
.swal2-html-container .condition-wrapper input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.swal2-html-container .condition-wrapper img {
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    transition: 200ms;
}
.swal2-html-container .condition-wrapper input:checked + img {
    scale: 1.2;
}
.swal2-html-container .condition-wrapper input:not(:checked) + img {
    filter: grayscale(1) blur(1px);
}
