/* geist-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Geist-Thin.woff2') format('woff2'), url('/fonts/Geist-Thin.woff') format('woff');
}
/* geist-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Geist-UltraLight.woff2') format('woff2'), url('/fonts/Geist-UltraLight.woff') format('woff');
}
/* geist-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Geist-Light.woff2') format('woff2'), url('/fonts/Geist-Light.woff') format('woff');
}

/* geist-400 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Geist-Regular.woff2') format('woff2'), url('/fonts/Geist-Regular.woff') format('woff');
}
/* geist-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Geist-Medium.woff2') format('woff2'), url('/fonts/Geist-Medium.woff') format('woff');
}

/* geist-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Geist-SemiBold.woff2') format('woff2'), url('/fonts/Geist-SemiBold.woff') format('woff');
}
/* geist-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Geist-Bold.woff2') format('woff2'), url('/fonts/Geist-Bold.woff') format('woff');
}

/* geist-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Geist-Black.woff2') format('woff2'), url('/fonts/Geist-Black.woff') format('woff');
}
/* geist-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Geist';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Geist-UltraBlack.woff2') format('woff2'), url('/fonts/Geist-UltraBlack.woff') format('woff');
}


:root {
    font-family: Geist, sans-serif;
    line-height: 1.5;
    color: var(--font-light);
    color-scheme: dark light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    background-image: radial-gradient(var(--accent-primary) 6%, var(--bg-primary) 6%);
    background-size: 26px 26px;
    background-position: center top;

    --bg-primary: hsl(251, 17%, 7%);
    --bg-secondary: hsl(251, 20%, 11.25%);
    --accent-primary: hsla(248, 66%, 45%, 0.65);
    --accent-secondary: hsla(248, 66%, 30%, 0.9);
    --btn-hover: hsl(248, 66%, 22.5%);
    --font-light: hsla(0, 0%, 93%, 0.933);
    --font-light-opaque: hsla(0, 0%, 75%, 0.45);
    --price-color: #19da3380;
    --warning-color: #eed202;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img,
svg {
    display: block;
}

svg {
    fill: var(--font-light);
}

input,
button {
    font: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    white-space: nowrap;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
.btn {
    background-color: var(--accent-secondary);
    border: 2px solid;
    border-color: var(--accent-primary);
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--font-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-hover:hover:not([disabled]) {
    background-color: var(--btn-hover);
}

.btn-inline {
    font-weight: 600;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 0;
}

.btn-inline::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 6px;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: var(--accent-primary);
    transition: background-color 100ms, width 40ms;
}

.btn-inline:hover::before {
    background-color: var(--accent-secondary);
    width: 100%;
}

.toast-slidein {
    animation: toast-slidein 300ms ease forwards;
}
@keyframes toast-slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toast-slideout {
    animation: toast-slideout 500ms ease-in-out forwards;
}
@keyframes toast-slideout {
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.swal2-bottom-end {
    overflow: visible !important;
}

body.swal2-shown > [aria-hidden='true'] {
    transition: filter 100ms;
    filter: blur(6px) brightness(0.5);
}

.swal2-input {
    max-width: 100% !important;
    margin-inline: 0 !important;
}
.swal2-input::placeholder {
    opacity: 1;
}

.swal2-html-container {
    color: var(--font-light) !important;
}
.swal2-html-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swal2-html-container .condition-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin: 1rem 0 0.5rem;
    width: fit-content;
    padding: 1rem;
    border-width: 4px;
}
.swal2-html-container .condition-wrapper > legend {
    padding-inline: 0.5rem;
    color: var(--font-light);
    margin-inline: auto;
}
.swal2-html-container .condition-wrapper > label {
    cursor: pointer;
}
.swal2-html-container .condition-wrapper input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.swal2-html-container .condition-wrapper img {
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    transition: 200ms;
}
.swal2-html-container .condition-wrapper input:checked + img {
    scale: 1.2;
    z-index: 1;
}
.swal2-html-container .condition-wrapper input:not(:checked) + img {
    filter: grayscale(1) blur(1px);
}
